<div class="container m-5 post-view">

    <!-- Noticia -->
    @if (noticiaSeleccionada) {
        <article class="post-card p-5 border rounded shadow-sm">

            <!-- ID -->
            <section class="mb-3">
                <strong>ID:</strong> <span>{{ noticiaSeleccionada.id }}</span>
            </section>

            <!-- Título -->
            <section class="mb-3">
                <strong>Título:</strong> <span>{{ noticiaSeleccionada.titulo }}</span>
            </section>

            <!-- Contenido -->
            <section class="mb-3">
                <strong>Contenido:</strong>
                <p>{{ noticiaSeleccionada.contenido }}</p>
            </section>

            <!-- Fecha -->
            <section class="mb-3">
                <strong>Fecha:</strong> <span>{{ noticiaSeleccionada.fecha }}</span>
            </section>

            <!-- Imagen -->
            <section class="mb-3" *ngIf="noticiaSeleccionada.imagen">
                <strong>Imagen:</strong>
                <div>
                    <img [src]="noticiaSeleccionada.imagen" alt="Imagen_Noticia" class="img-fluid rounded" />
                </div>
            </section>

            <!-- ID_Club -->
            <section class="mb-3">
                <strong>ID Club:</strong> <span>{{ noticiaSeleccionada.id_club }}</span>
            </section>
        </article>
    }
</div>